.contact-section {
    height: 100vh;
    background-color: var(--highlight-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    border-radius: 30px;
    background-color: var(--main-color);
}

.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form h2 {
    font-size: 50px;
    font-weight: 600;
}

.input-container {
    position: relative;
    margin-top: 10px;
    width: 100%;
}
.input-container input, textarea {
    padding: 10px 35px;
    border-radius: 20px;
    width: 100%;
    border: 1px solid black;
}
.input-container textarea {
    height: 200px;
}
.input-container i {
    position: absolute;
    left: 5px;
    top: 50%;
    translate: 50% -50%;
    font-size: 14px;
}
.input-container .message-icon {
    top: 20px;
}
.contact-form .submit-btn {
    margin: 10px;
}