.about-section {
    height:100vh;
    background-color: var(--main-color);
}
.timeline-section {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding-top: 80px;
}
/* fade in von rechts */
.js-fade-animation-right {
    transform: translateX(400px);
    transition: 0.5s ease;
    opacity: 0;
}
.js-fade-animation-right.showRight {
    transform: translateX(0);
    opacity: 1;
}
/* fade in von links */
.js-fade-animation-left {
    transform: translateX(-400px);
    transition: 0.5s ease;
    opacity: 0;
}
.js-fade-animation-left.showLeft {
    transform: translateX(0);
    opacity: 1;
}
/* timeline linie */
.timeline-section::after {
    content: '';
    position: absolute;
    background-color: var(--highlight-color);
    width: 5px;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
/* Bereich um den Inhalt */
.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
/* kreise auf der linie */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid var(--akzent-color);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.left {
    left: 0;
}
.right {
    left: 50%;
}
.right::after {
    left: -17px;
}

.timeline-content {
    border: none;
    background-color: var(--highlight-color);
    padding: 25px 30px;
    position: relative;
    border-radius: 5px;
}
.timeline-content p {
    margin-top: 10px;
}
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 18px;
    width: 0;
    right: 30px;
    border: medium solid var(--main-color);
    border-width: 13px 0 13px 13px;
    border-color: transparent transparent transparent var(--highlight-color);
}
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 18px;
    width: 0;
    left: 30px;
    border: medium solid var(--main-color);
    border-width: 13px 13px 13px 0;
    border-color: transparent var(--highlight-color) transparent transparent;
}
.timeline-content span {
    margin-left: 8px;
    padding: 0 0 0 10px;
    font-style: italic;
    border-left: 1px solid black;
}
