.contact-section {
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid var(--highlight-color);
}
.contact-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-left: 100px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contact-form-title {
    font-size: 50px;
    font-weight: 600;
}

.input-container {
    position: relative;
    margin-top: 60px;

}
.input-container input, textarea {
    padding: 10px 15px;
    width: 500px;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 16px;
    background-color: var(--main-color);
}
.input-container textarea {
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
}

.contact-form .submit-btn {
    margin-top: 60px;
    width: 500px;
}

.contact-right {
    background-color: var(--main-color);
    height: 100%;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    position: relative
}

.contact-info-section {
    position: absolute;
    background-color: var(--akzent-color);
    height: 75%;
    width: 100%;

    left: 100px;
    top: 15%;

    padding: 0 0 40px 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-info-section h1 {
    font-weight: 700;
    font-size: 50px;
}

.contact-info-section p {
    font-weight: 500;
    font-size: 20px;
}

.contact-icon-container {
    width: 40%;
    background-color: var(--highlight-color);
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.cInformationItem {
    display: flex;
}
.cInformationItem img {
    height: 25px;
    margin-right: 10px;
}

.contact-icon {
    align-self: flex-end;
    cursor: pointer;
}
.contact-icon img {
    height: 25px;
    width: 25px;
}
