
@media screen and (max-width: 1150px) {
    .project-section {
        height: 100%;
        padding: 2rem;
    }
    /* timeline start */
    /* fade in von rechts */
    .js-fade-animation-right {
        transform: translateX(200px);
        transition: 0.5s ease;
        opacity: 0;
    }
    .js-fade-animation-right.showRight {
        transform: translateX(0);
        opacity: 1;
    }
    /* fade in von links */
    .js-fade-animation-left {
        transform: translateX(-200px);
        transition: 0.5s ease;
        opacity: 0;
    }
    .js-fade-animation-left.showLeft {
        transform: translateX(0);
        opacity: 1;
    }
    /* timeline end */
}
@media screen and (max-width: 850px) {
    .right-navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 0;
        margin: 0;

        flex-direction: column;
        background-color: var(--highlight-color);
        border: 1px solid black;

        overflow: hidden;
        transition: 0.25s ease-in;
    }
    .right-navbar li {
        font-size: 20px;
        font-weight: 600;
    }

    .hamburger-menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        height: 45px;
        width: 45px;
        border-radius: 50%;

        transition: 0.15s ease;
    }
    .hamburger-menu-btn i {
        font-size: 20px;
    }
    .hamburger-menu-btn:hover {
        transform: translate3d(1.25);
        background-color: var(--highlight-color);
    }

    .left-navbar {
        font-size: 14px;
    }

    .about-section {
        height: 155vh;
    }
}

@media screen and (max-width: 600px) {
    .timeline-section::after {
        left: 31px;
    }
    .right {
        left: 0;
    }
    .left::after, .right::after {
        left: 15px;
    }
    .timeline-container {
        padding-left: 70px;
        width: 100%;
    }
    .timeline-container::before {
        left: 60px;
        border: medium solid var(--main-color);
        border-width: 13px 13px 13px 0;
        border-color: transparent var(--highlight-color) transparent transparent;
    }
    .about-section {
        height: 120vh;
    }
}
